<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">exab.web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="container">
    <div class="row @NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="col">
            <li class="row">
                <button class="btn btn-block @MenuButtonClass(NavItems[0]) m-1 @ShouldHide(NavItems[0]))" @onclick="() => SetPage(NavItems[0])">@NavItems[0]</button>
            </li>
            <li class="row">
                <button class="btn btn-block @MenuButtonClass(NavItems[1]) m-1 @ShouldHide(NavItems[1])" @onclick="() => SetPage(NavItems[1])">@NavItems[1]</button>
            </li>
        </ul>
    </div>
</div>